lib/private/*
!lib/private/.keep
plugins/private/*
!plugins/private/.keep

!start/autostart.cfg

tmp/*
temp/*
temporary/*

update/deploy/*
!update/deploy/.keep
update/key/*
!update/key/.keep

*.code-workspace

*.json
*.cfg
*.env
*.pyc
__pycache__/*
*.log

godfingerCfg.json
automessageCfg.json
vpnmonitorCfg.json
automodCfg.json
gtConfig.json

*.db
*.DB
ignored/*
venv/*