lib/private/*
!lib/private/.keep
plugins/private/*
!plugins/private/.keep

update/deploy/*

*.code-workspace

*.cfg
*.env
*.pyc
__pycache__/*
*.log

godfingerCfg.json
automessageCfg.json
vpnmonitorCfg.json
automodCfg.json

*.db
*.DB
ignored/
venv/