lib/private/*
!lib/private/.keep
plugins/private/*
!plugins/private/.keep

tmp/*
temp/*
temporary/*

update/deploy/*
!update/deploy/.keep
update/key/*
!update/key/.keep

*.code-workspace

*.json
*.cfg
*.env
*.pyc
__pycache__/*
*.log

!start/autostart.cfg

godfingerCfg.json
automessageCfg.json
vpnmonitorCfg.json
automodCfg.json
gtConfig.json

*.db
*.DB

ignored/*
venv/*
docker/
data/

.DS_Store

*.pkl
*.pk3
*.zip
*.bak